@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
     .home {
         .slider {
             &__wrapper {
                 width: 300px;
             }

             &__item {
                 img {
                     height: 300px;
                 }

                 &-active>img {
                     height: 400px;
                 }

             }
         }
     }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .header {
        height: 0;
        &__wrapper {
            display: none;
        }
    }

    .home {
        .slider {
            &__wrapper {
                width: 250px;
            }

            &__item {
                img {
                    height: 250px;
                }

                &-active>img {
                    height: 350px;
                }

            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .home {
        .menu {
            nav {
                z-index: 500;
                ul {
                    display: grid;
                    grid-template-rows: repeat(5, 100px);
                    justify-items: center;
                    align-items:center;
                    position: absolute;
                    left: 50px;
                    top: 50px;
                    li {
                        margin-right: 0;
                    }
                }
            }
        &__overlay {
        display: block;
        }    
        &__destope {
            display: none;
        }
        }
        .hamburger {
            display: flex;
        }
        .slider {
            &__btn {
                left: 40%;
            }
            &__wrapper {
                width: 200px;
            }

            &__item {
                img {
                    height: 200px;
                }

                &-active>img {
                    height: 300px;
                }

            }
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 10px;
    }

    .slider {
        display: none;
    }
    .home {
        .menu {
                &__overlay {
                    width: 80%;
                }
            }
    }
    

}