
@import "libs/fonts";
@import "libs/bootstrap-reboot.min";
@import 'libs/animate';

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}


.container {
    max-width: 1140px;
    margin: 0 auto;
}


@import "base/mixins";
@import "base/variables";

@import'block/hamburger';
@import 'block/header';
@import 'block/home';
@import 'block/moduls';
@import 'block/industries';
@import 'block/advant';
@import 'block/commit';
@import 'block/contacts';
@import 'block/footer';
@import 'block/modal';
@import 'block/pageup';

.btn {
    width: 241px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 24px;
    padding-bottom: 21px;
    background-color: $main-color;
    border: none;
    z-index: 201;
    &:active,
    &:focus {
        outline: none;
    }
    &:hover {
        background-color: #00a2f0;
        transition: 0.5s all;
    }
}

.title {
    font-size: clamp(18px, 4vw, 30px);
    font-weight: 900;
    line-height: 36px;
    text-align: center;
}

.no-scroll {
    height: 100%;
    overflow: hidden;
    position: relative;
}

@import'base/mobile';
